In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.3.2'

In [3]:
l = [54,234,45-1,43,-1,'val']

In [4]:
print(l)

[54, 234, 44, 43, -1, 'val']

In [5]:
sr1 = pd.Series(l)

In [6]:
sr1

0     54
1    234
2     44
3     43
4     -1
5    val
dtype: object

In [7]:
type(sr1)

pandas.core.series.Series

In [8]:
sr2 = pd.Series([432,54,2,52,43,3525,43245])
sr2

0      432
1       54
2        2
3       52
4       43
5     3525
6    43245
dtype: int64

In [9]:
sr3 = pd.Series([432,54,2,52,43,3525,43245], index=[5,43,543,5434,1,53,5432])
sr3

5         432
43         54
543         2
5434       52
1          43
53       3525
5432    43245
dtype: int64

In [10]:
sr3 = pd.Series([432,54,2,52,43,3525,43245], index=[5,43,543,5434,1,53,5432], dtype=float)
sr3

5         432.0
43         54.0
543         2.0
5434       52.0
1          43.0
53       3525.0
5432    43245.0
dtype: float64

In [11]:
sr4 = pd.Series([432,54,2,52,43,3525,43245], index=[5,43,543,5434,1,53,5432], dtype=float, name="Data Values")
sr4

5         432.0
43         54.0
543         2.0
5434       52.0
1          43.0
53       3525.0
5432    43245.0
Name: Data Values, dtype: float64

In [12]:
scaler_s = pd.Series(0.5)
scaler_s

0    0.5
dtype: float64

In [13]:
scaler_s = pd.Series(0.5, index=[1,2,3])
scaler_s

1    0.5
2    0.5
3    0.5
dtype: float64

In [14]:
scaler_s = pd.Series({'a': 12, 'b': 16, 'c': 18})
scaler_s

a    12
b    16
c    18
dtype: int64

In [15]:
scaler_s['a']

np.int64(12)

In [16]:
scaler_s.iloc[0]

np.int64(12)

In [17]:
scaler_s.iloc[1:4]

b    16
c    18
dtype: int64

In [18]:
max(scaler_s)

18

In [19]:
min(scaler_s)

12

In [20]:
scaler_s[scaler_s > 1]

a    12
b    16
c    18
dtype: int64

In [21]:
s5 = pd.Series([1,2,3,4,5])
s5

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [22]:
s4 = pd.Series([4,5,4,3,3])
s5 + s4

0    5
1    7
2    7
3    7
4    8
dtype: int64

In [23]:
pd.Series([4,6,2]) + s5

0    5.0
1    8.0
2    5.0
3    NaN
4    NaN
dtype: float64

In [24]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [25]:
lst = ['a', 'b', 'c']
lst

['a', 'b', 'c']

In [26]:
df1 = pd.DataFrame(lst)

In [27]:
df1

   0
0  a
1  b
2  c

In [28]:
ls_of_ls = [[1,2,3], [4,5,6], [7,8,9]]
ls_of_ls

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [29]:
df2 = pd.DataFrame(ls_of_ls)

In [30]:
df2

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [31]:
dct = {
    '1D': [12,314,234,53,4]
}
df3 = pd.DataFrame(dct)

In [32]:
df3

    1D
0   12
1  314
2  234
3   53
4    4

In [33]:
dct1 = {
    '1D': [12,314,234,53,4],
    'XD': [12,34,234,53,4]
}
df4 = pd.DataFrame(dct1)

In [34]:
df4

    1D   XD
0   12   12
1  314   34
2  234  234
3   53   53
4    4    4

In [35]:
dct2 = [{'a': 1, 'b': 2}, {'a': 4, 'b': 8}]

In [36]:
dct2

[{'a': 1, 'b': 2}, {'a': 4, 'b': 8}]

In [37]:
df5 = pd.DataFrame(dct2)
df5

   a  b
0  1  2
1  4  8

In [38]:
dct3 = [{'a': 1, 'b': 2}, {'a': 4, 'b': 8, 'c': 1}]
pd.DataFrame(dct3)

   a  b    c
0  1  2  NaN
1  4  8  1.0

In [39]:
dict_sr = [pd.Series([1,2,3]), pd.Series([4,5,6])]
dict_sr

[0    1
 1    2
 2    3
 dtype: int64,
 0    4
 1    5
 2    6
 dtype: int64]

In [40]:
pd.DataFrame(dict_sr)

   0  1  2
0  1  2  3
1  4  5  6

In [42]:
pd.read_csv('data.csv')

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [43]:
import os
os.getcwd()

'C:\\Users\\ajaya'

In [44]:
data = pd.read_csv('data.csv')

In [45]:
data.head(5)

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [46]:
type(data)

pandas.core.frame.DataFrame

In [47]:
data.columns

Index(['Duration', 'Date', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [49]:
d1 = pd.read_csv('data.csv', nrows=5)
d1

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [51]:
pd.read_csv('data.csv', usecols=['Date', 'Calories'], nrows=5)

           Date  Calories
0  '2020/12/01'     409.1
1  '2020/12/02'     479.0
2  '2020/12/03'     340.0
3  '2020/12/04'     282.4
4  '2020/12/05'     406.0

In [53]:
pd.read_csv('data.csv', usecols=[2,3], nrows=5)

   Pulse  Maxpulse
0    110       130
1    117       145
2    103       135
3    109       175
4    117       148

In [55]:
pd.read_csv('data.csv',  nrows=5, skiprows=1)

   60  '2020/12/01'  110  130  409.1
0  60  '2020/12/02'  117  145  479.0
1  60  '2020/12/03'  103  135  340.0
2  45  '2020/12/04'  109  175  282.4
3  45  '2020/12/05'  117  148  406.0
4  60  '2020/12/06'  102  127  300.0

In [56]:
pd.read_csv('data.csv',  nrows=5, skiprows=2)

   60  '2020/12/02'  117  145  479.0
0  60  '2020/12/03'  103  135  340.0
1  45  '2020/12/04'  109  175  282.4
2  45  '2020/12/05'  117  148  406.0
3  60  '2020/12/06'  102  127  300.0
4  60  '2020/12/07'  110  136  374.0

In [58]:
pd.read_csv('data.csv',  nrows=5, skiprows=[0,2])

   60  '2020/12/01'  110  130  409.1
0  60  '2020/12/03'  103  135  340.0
1  45  '2020/12/04'  109  175  282.4
2  45  '2020/12/05'  117  148  406.0
3  60  '2020/12/06'  102  127  300.0
4  60  '2020/12/07'  110  136  374.0

In [60]:
pd.read_csv('data.csv',  nrows=5, skiprows=[5])

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        60  '2020/12/06'    102       127     300.0

In [61]:
pd.read_csv('data.csv',  nrows=5, skiprows=[5], index_col='Date')

              Duration  Pulse  Maxpulse  Calories
Date
'2020/12/01'        60    110       130     409.1
'2020/12/02'        60    117       145     479.0
'2020/12/03'        60    103       135     340.0
'2020/12/04'        45    109       175     282.4
'2020/12/06'        60    102       127     300.0

In [62]:
pd.read_csv('data.csv',  nrows=5, skiprows=[5], index_col=3)

          Duration          Date  Pulse  Calories
Maxpulse
130             60  '2020/12/01'    110     409.1
145             60  '2020/12/02'    117     479.0
135             60  '2020/12/03'    103     340.0
175             45  '2020/12/04'    109     282.4
127             60  '2020/12/06'    102     300.0