In [2]:
print("Hello World")

Hello World

In [3]:
num1 = float(input("Enter num1"))
num2 = float(input("Enter num2"))

#addition
print(f"The Result for addition of two numbers is: {num1 + num2}")
#division
print(f"The Result for division of two numbers is: {num1 / num2}")

Enter num1 4
Enter num2 3

The Result for addition of two numbers is: 7.0
The Result for division of two numbers is: 1.3333333333333333

In [4]:
def area_of_triangle(base: float, height: float) -> float:
    return 0.5 * base * height

print(area_of_triangle(73, 34))

1241.0

In [5]:
def swap_vars():
    a = 5
    b = 7
    temp = a
    a = b
    b = temp
    print(a,b)

swap_vars()

7 5

In [6]:
import random

print(random.randint(1, 501))

165

In [7]:
def kilometer_to_miles(kil: float):
    conv = 0.621371
    print(f"{kil}km in miles is {conv * kil}")
    
kilometer_to_miles(100)

100km in miles is 62.137100000000004

In [8]:
def celsius_to_fahrenheit(celsius: int):
    # formula for Fahrenheit = (Celsius * 9/5) + 32
    fahrenheit = (celsius * (9/5)) + 32
    print(f"{celsius} C in fahrenheit is : {fahrenheit}")


celsius_to_fahrenheit(37)

37 C in fahrenheit is : 98.60000000000001

In [9]:
import calendar

print(calendar.month(2026, 1))

    January 2026
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

# import math
def solve_quadratic():
    a = float(input("Coefficient a :"))
    b = float(input("Coefficient b :"))
    c = float(input("Coefficient c :"))

    det = (b ** 2) - (4 * a * c)

    if det > 0:
        root1 = (-b + math.sqrt(det)) / (2 * a)
        root2 = (-b - math.sqrt(det)) / (2 * a)
        print(f"root1 = {root1}")
        print(f"root2 = {root2}")

    elif det == 0:
        print(f"one real root is {-b / (2*a)}")
    else:
        real = -b / (2*a)
        img = math.sqrt(abs(det)) / (2*a)
        print(f"Root1 {real} + {img}i")
        print(f"Root2 {real} - {img}i")

solve_quadratic()

In [11]:
def swap2():
    a = 5
    b = 10
    a,b = b,a
    print(a,b)

swap2()

10 5

In [12]:
def check_num(num: int):
    if num > 0:
        print("Positive")
    elif num < 0:
        print("Negative")
    else:
        print("Zero")

check_num(50)

Positive

In [13]:
def odd_eve(num: int):
    if num % 2 == 0:
        print("Even")
    else:
        print("Odd")

odd_eve(5)

Odd

In [14]:
def check_leap_year(num: int):
    if num % 400 == 0:
        print('Leap yr')
    elif (num % 4 == 0) and (num % 100 != 0):
        print('Leap yr')
    else:
        print("Not Leap yr")

check_leap_year(2004)

Leap yr

In [15]:
def check_prime(num: int):

    flag = 0

    for i in range(2, num //2):
        if num % i == 0 and i != num:
            flag = 1
            break

    if flag == 0:
        print("Prime")
    else:
        print("Not Prime")
        
check_prime(7)

Prime

In [16]:
def range_prime():
    a, b = 2, 20
    for i in range(a, b+1):
        flag = 0
        for j in range(2, i):
            if i % j == 0:
                flag = 1
                break
        if flag == 0:
            print(i)

range_prime()

2
3
5
7
11
13
17
19

In [17]:
def factorial(num: int):
    
    for i in range(1, num):
        num = num * i

    print(num)

factorial(5)

120

In [18]:
def mul_table(num: int):

    for i in range(1, 11):
        print(f"{num} x {i} = {num * i}")

mul_table(5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [19]:
def fib(num: int):
    a, b = 0, 1
    print(0)
    print(1)
    for i in range(num):
        n = a + b
        a = b
        b = n
        print(n)
    

fib(5)

0
1
1
2
3
5
8

In [20]:
def chk_armst(num: int):
    orig = num
    total = 0
    lst = []
    while num != 0:
        digit = num % 10
        num = num // 10
        lst.append(digit)
        

    cnt = len(lst)

    for num in lst:
        total += num ** cnt
    if total == orig:
        print("Armstrong")
    else:
        print("Not Armstrong")


chk_armst(153)

Armstrong

In [21]:
def check_neil_range():
    start, end = 1, 200
    for i in range(start, end):

        cnt = len(str(i))

        num = i
        total = 0
        while num != 0:
            digit = num % 10
            total += digit ** cnt
            num //= 10

        if i == total:
            print(i)

        
check_neil_range()

1
2
3
4
5
6
7
8
9
153

In [22]:
def find_sum_of_nums(num: int):
    sum = 0

    for i in range(num+1):
        sum += i

    print(sum)
        
find_sum_of_nums(10)

55

In [23]:
def find_lcm():
    a, b = 54, 24
    if a > b:
        greater = a
    else:
        greater = b
    num = 0
    while True:
        num += greater
        if num % a == 0 and num % b == 0:
             print("LCM is", num)
             break
        
find_lcm()

LCM is 216

In [24]:
def find_hcf():

    a, b = 54, 24

    if a > b:
        smaller = b
    else:
        smaller = a

    for i in range(1, smaller):
        if a % i == 0 and b % i == 0:
            hcf = i
    print(hcf)

find_hcf()

6

In [25]:
def convert_num(num: int):
    print(f"Binary value of {num} is {bin(num)}")
    print(f"Octal value of {num} is {oct(num)}")
    print(f"Hex value of {num} is {hex(num)}")

convert_num(55)

Binary value of 55 is 0b110111
Octal value of 55 is 0o67
Hex value of 55 is 0x37

In [26]:
def find_ascii():
    char = "A"
    print(ord(char))

find_ascii()

65

In [27]:
def calculator():

    def add(a, b):
        return a + b

    def sub(a, b):
        return a - b

    def mul(a, b):
        return a * b

    def div(a, b):
        return a / b

    def get_inp():
        a = float(input("Enter number 1: "))
        b = float(input("Enter number 2: "))
        return a, b

    while True:

        print("*"*20)
        print("1.Addition\n2.Subtraction\n3.Multiplication\n4.Division")
        inp = int(input("Enter your choice: "))
        
        
        match inp:
            case 1:
                x, y = get_inp()
                print(add(x, y))
                break
            case 2:
                x, y = get_inp()
                print(sub(x, y))
                break
            case 3:
                x, y = get_inp()
                print(mul(x, y))
                break
            case 4:
                x, y = get_inp()
                print(div(x, y))
                break
            case _:
                return
                

calculator()

********************
1.Addition
2.Subtraction
3.Multiplication
4.Division

Enter your choice:  1
Enter number 1:  55
Enter number 2:  55

110.0

In [28]:
def fib_recursion(x):
    if x <= 1:
        return x
    
    else:
        return fib_recursion(x-1) + fib_recursion(x-2)
number_of_fib = 10
for i in range(number_of_fib):
    print(fib_recursion(i))

0
1
1
2
3
5
8
13
21
34

In [29]:
def find_fact(x):
    if x <= 1:
        return x
    return x * find_fact(x - 1)
    
print(find_fact(5))

120

In [30]:
def bmi(w, h):
    return round((w/(h**2)), 2)

def bmi_chk():
    weight = float(input("Enter the weight"))
    height = float(input("Enter the height"))

    x = bmi(weight, height)
    print(x)
    if x < 18.5:
        print("underweight")
    elif x < 24.9:
        print("normal")
    elif x < 29.29:
        print("Overweight")
    else:
        print("Obese")

bmi_chk()

Enter the weight 50
Enter the height 120

0.0
underweight

In [31]:
import math

x = 11
print(math.log(x))

2.3978952727983707

In [32]:
def cube_sum(num: int):

    cs = [i ** 3 for i in range(1, num+1)]
    print(cs)

cube_sum(50)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000]

In [33]:
def sum_of_array():
    arr = [454,2345,6543,2345,5634,432,65,35,321,134,35324,5,436,5245,35,354,2,4332,6324243214]
    total = 0
    for num in arr:
        total += num

    print(total)

sum_of_array()

6324307255

In [34]:
def find_largest():
    ar = [54,25,5432,46,3565432,643,24355436,6345,21,654,2,54,7,33,77,18]

    maxval = 0

    for num in ar:
        if num > maxval:
            maxval = num

    print(maxval)

find_largest()

24355436

In [35]:
def arr_rotate():
    deg = 5
    arr = [54,23,64,234,6543,243,643,6534,65,4543,765,45,24,35,4,423,57,3,43]
    tmp = arr[5:] + arr[:5]
    print(tmp)
    

arr_rotate()

[243, 643, 6534, 65, 4543, 765, 45, 24, 35, 4, 423, 57, 3, 43, 54, 23, 64, 234, 6543]

In [36]:
def pract_lists():
    lst = []

    lst.append(5)
    lst.remove(5)
    lst.insert(0,1)
    lst.pop(0)
    lst.extend([1,2,3])
    print(lst.index(2))
    print(lst.count(3))
    print(lst)
    lst.clear()
    print(lst)
    

pract_lists()

1
1
[1, 2, 3]
[]

In [37]:
def pract_tuple():
    tup = (34,3,3,6535,43,525,12,564,53,546,3)
    print(tup.count(3))
    print(tup.index(6535))

pract_tuple()

3
3

In [38]:
def pract_set():
    st = {4,5,6,1,2,99,13,34,52,423,53,4,34,5,3,23,4,53}
    st2 = {43,54,12,1,2,3,4,5,6,7,8}
    st.add(11),
    st.update([8,9,10])
    st.remove(1) #error if not found
    st.discard(1947) #no error if not found
    st.pop()
    print(st)
    print(st.union(st2))
    print(st.intersection(st2))
    print(st.difference(st2))
    print(st.symmetric_difference(st2))
    
    
pract_set()

{99, 4, 5, 6, 34, 423, 3, 8, 11, 9, 13, 10, 52, 53, 23}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 23, 34, 99, 423, 43, 52, 53, 54}
{3, 4, 5, 6, 8}
{34, 99, 423, 9, 10, 11, 13, 52, 53, 23}
{1, 2, 7, 9, 10, 11, 12, 13, 23, 34, 99, 423, 43, 52, 53, 54}

In [39]:
def prac_dicts():
    dcts = {
        'ajay': 99,
        'bhuvan': 991,
        'anushka':123
    }
    print(dcts.get('ajay'))
    print(dcts.update({'ajay': 999}))
    print(dcts.keys())
    print(dcts.values())
    print(dcts.items())
    print(dcts.pop('ajay'))
    print(dcts.setdefault('ajay', 18))
    print(dcts)

prac_dicts()

99
None
dict_keys(['ajay', 'bhuvan', 'anushka'])
dict_values([999, 991, 123])
dict_items([('ajay', 999), ('bhuvan', 991), ('anushka', 123)])
999
18
{'bhuvan': 991, 'anushka': 123, 'ajay': 18}

In [40]:
def enumx():
    lst = [8,9,84,45,84,541,99,448,485]
    
    for i, item in enumerate(lst):
        print(i, item)

    lst2 = [8,84,8,45,8,45,8,54,8,84]

    for i, j in zip(lst, lst2):
        print(i, j)
    assert 10 > 1
    assert 1 > 10

enumx()

0 8
1 9
2 84
3 45
4 84
5 541
6 99
7 448
8 485
8 8
9 84
84 8
45 45
84 8
541 45
99 8
448 54
485 8

AssertionError:

In [ ]:
def lst_compreh():
    lst = [i ** 2 for i in range(10)]
    print(lst)

    lst2 = [i for i in range(20) if i % 2 == 0]

    lst3 = ['evn' if i % 2 == 0 else 'odd' for i in range(10)]
    lst4 = [[1,2,3,4,5,6], [9,8,7,6]]

    print([x for row in lst4 for x in row])    
    print(lst2)
    print(lst3)
lst_compreh()

In [ ]:
def prac_arg_kwarg(*args, **kwargs):
    print(args, kwargs)

prac_arg_kwarg(*[32,42,43,45,42,4,65],ajay=23, vijay=43)

In [ ]:
x = 10
def glx():
    global x
    x = 1
print(x)

In [ ]:
from functools import reduce
def prac_lambda():
    xd = 2
    sq = lambda x : x ** 2
    print(sq(xd))

    lst = [23,432,542,4,324,4,62,42,1,243,642,43,2343,3]

    print(list(filter(lambda x: x % 2 == 0, lst)))
    print(list(map(lambda x : x -99, lst)))
    print(reduce(lambda x, y: x * y, lst))

prac_lambda()

In [ ]:
def xgenerator():
    yield 1
    yield 2
    yield 3

for i in xgenerator():
    print(i)

In [ ]:
def outer(func):
    def wrapper(*args, **kwargs):
        print("Before")
        func(*args, **kwargs)
        print("After")
    return wrapper

@outer
def sample(*args, **kwargs):
    print("Center")
    print(args, kwargs)

sample(23,43,1, ajay=23)

In [ ]:
import math

def prac_math():
    print(math.floor(5.99))
    print(math.ceil(5.5))
    print(math.sqrt(9))
    print(math.sin(30))
    print(math.factorial(5))
    

prac_math()

In [ ]:
import random

def prac_random():
    lst = [432,54,543,53534]
    print(random.random())
    print(random.uniform(1,10))
    print(random.randint(1,10))
    print(random.choice(lst))
    print(random.choices(lst, k=2))

    

prac_random()

In [ ]:
def div_error():
    n = 0
    try:
        x = n / 0
        print(x)
    except Exception as e:
        print(e)
    finally:
        print("Done")

div_error()

In [ ]:
class Student:
    college = "Shridevi Institute of Engineering and Technology"
    def __init__(self, name: str, age: int, marks: int):
        self.name = name
        self.age = age
        self.marks = marks

    def show_marks(self):
        print("MARKS OBTAINED: ", self.marks)

    @classmethod
    def cls_method(cls):
        print(cls.college)

    @staticmethod
    def st_method():
        print("Student is Studying")

        

s1 = Student(name="Ajay", age=21, marks=100)
s1.show_marks()
s2 = Student(name="Shiva", age=99999, marks=100)
s2.show_marks()
s1.cls_method()
Student.st_method()

In [ ]:
import time

def prac_time():
    time.sleep(1)
    print(time.time())
    print(time.ctime())
    print(time.localtime())
    print(time.mktime(time.localtime()))
prac_time()

In [ ]:
help(time.ctime)
help(time.localtime)
help(time.mktime)
help(time.strftime)
help(time.strptime)

In [41]:
def pract_time2():
    strt = time.asctime()
    print(strt)
    strf = time.strftime(r'%m %d %Y', time.localtime())
    print(strf)
    strp = time.strptime(strf, r'%m %d %Y')
    print(strp)

pract_time2()

NameError: name 'time' is not defined

In [ ]:
import datetime
import pytz

def pract_date():
    x = datetime.datetime(2019, 5, 5, 13, 55, 12, 21)
    print(x)
    print(datetime.datetime.today())
    print(x.year, x.day,x.hour, x.minute, x.second)
    y = datetime.time(5,5,5)
    print(y)
    a = datetime.timedelta(days=25)
    b = datetime.timedelta(days=26)
    print(b-a)

    td = datetime.timedelta(days=500)
    
    today = datetime.date.today()
    bday = datetime.date(2004, 7, 3)
    print((today - bday).days)
    print(today - td)

    print(today.day)
    sdh = datetime.timedelta(hours=24)

    print((today + sdh).day)

    utcnow = datetime.datetime.now(tz=pytz.UTC)
    print(utcnow)

    print(utcnow.astimezone(pytz.timezone('US/Pacific')))
    us_time = utcnow.astimezone(pytz.timezone('US/Pacific'))

    print(us_time.strftime("%B %d %Y"))
    date_string = "March 09, 2019"

    d = datetime.datetime.strptime(date_string, "%B %d, %Y")
    print(d)
pract_date()

In [42]:
import re

def pract_re():
    text_str = "elon musk number is 9964988691 call him for any query related to doge coin liquidy manipulation (510)-767-0407"
    pattern = r'\(\d{3}\)-\d{3}-\d{4}|\d{10}'
    compiled = re.compile(pattern)
    print(compiled.findall(text_str))
    
    match = re.findall(pattern, text_str)
    print(match)
    
pract_re()

['9964988691', '(510)-767-0407']
['9964988691', '(510)-767-0407']

In [ ]:
filename = "test.txt"

with open(filename, 'w') as file:
    file.write("This is a sample text being written for just testing purposes")

In [ ]:
def utest():
    import unittest
    
    def add(a, b):
        return a + b
    
    def divide(a, b):
    
        if b == 0:
            raise ValueError("Can't Divide by Zero")
        return a / b
    
    class TestMathOperations(unittest.TestCase):
    
        def setUp(self):
            self.a = 5
            self.b = 10
            print("Setting UP resources")
    
        def tearDown(self):
            print("Cleaning up resources")
            del self.a, self.b
    
        def test_add(self):
            result = add(self.a, self.b)
            self.assertEqual(result, 15)
    
        def test_divide(self):
            result = divide(self.a, self.b)
            self.assertEqual(result, 0.5)
    
        def test_divide_by_zero(self):
            with self.assertRaises(ValueError):
                divide(5, 0)
    
    unittest.main()

In [43]:
def pract_mysql():
    import mysql.connector

    mydb = mysql.connector.connect(host='localhost', user='root', passwd='root')
    
    cursor = mydb.cursor()
    cursor.execute("use students")

    cursor.execute("select * from students")
    result = cursor.fetchall()
    # result = cursor.fetchone()
    for i in result:
        print(i)